.portfolio__item {
  background: #171f38;
  padding: 0px 20px 20px 20px;
  padding-top: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.portfolio__item h5,
.portfolio__item h6 small {
  color: #01d293;
  margin-bottom: 20px;
  background: transparent;
}

.portfolio__img {
  position: relative;
  margin-top: 30px;
  background: transparent;
}

.portfolio__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.more {
  position: absolute;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  text-align: center;
  color: white;
  background: rgba(23, 31, 56, 0.7);
  border-radius: 0px 0px 10px 10px;
}

.more button,
.more button a {
  background: transparent;
  text-decoration: none;
}

.portfolio__keyword {
  padding: 5px 10px;
  color: #fff;
  background: #808dad68;
  font-size: 0.7rem;
  margin-right: 10px;
  border-radius: 5px;
}

.portfolio__live {
  margin-left: -100px;
  margin-top: 30px;
  display: none;
}

.portfolio__item:hover .portfolio__live {
  margin-left: 0;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 576px) {
  .portfolio__img img {
    width: 100% !important;
  }
}
